* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ead3cb;
  --highlight: #845460;
  --tertiary: #bdc7c9;
  --quarternary: #2b4f60;
}

html {
  width: 100%;
  background-color: var(--primary);
}

body {
  font-family: 'Work Sans', sans-serif;
  color: var(--quarternary);
  font-size: 15px;
  margin: 0;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  gap: 15px;
  padding-left: 20px;
  display: grid;
  background-color: var(--highlight);
  grid-template-columns: 2fr 2fr;
}

header h1 {
  display: flex;
  width: 100%;
  align-self: center;
  font-size: 17px;
}

nav {
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: space-between;
  padding-right: 20px;
}

main {
  display: grid;
  gap: 30px;
  place-items: center;
  flex-direction: column;
}

footer {
  padding: 10px 20px;
  background: var(--highlight);
  color: var(--tertiary);
  height: 30px;
  width: 100%;
}

a {
  text-decoration: none;
  border-bottom: 2px solid;
  color: var(--tertiary);
}

input,
button,
textarea {
  font-size: inherit;
}

h1 {
  font-weight: bolder;
  font-size: 20pt;
  margin-bottom: 0;
  color: var(--tertiary);
}

h2 {
  font-weight: bolder;
  font-size: 17pt;
}

p {
  width: 250px;
  height: 100px;
}

ul {
  padding: 10px;
}

img {
  height: auto;
  margin: 5px 0;
  width: 100%;
}

nav {
  color: var(--tertiary);
}

.button {
  background: var(--quarternary);
  color: var(--quarternary);
  border-bottom: none;
  padding: 3px;
  border-radius: 4px;
}

.kontakt {
  padding: 20px 20px;
  background: var(--highlight);
  height: 100px;
  width: 100%;
}

.social {
  padding: 20px 20px;
  background: var(--highlight);
  height: 100px;
  width: 100%;
}

.kontakt h2 {
  color: #bdc7c9;
}

.social {
  padding: 20px 20px;
  background: var(--highlight);
  height: 100px;
  width: 100%;
}

.container {
  display: grid;
}

dt {
  font-weight: bold;
}

dl.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid dt {
  width: 120px;
}
.grid dd {
  width: calc(100% - 120px);
}
