.page__header {
  height: auto;
  width: 100%;
  display: flex;
  gap: 5px;
  padding-left: 0px;
  display: grid;
  background-color: var(--highlight);
}

.page__header h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 20px;
  color: var(--primary);
  padding-top: 10px;
}

.page__header-nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0px 20px 15px 20px;
  border-bottom: 2px solid;
  color: var(--primary);
  text-decoration: solid;
}
